@model Board
@using ChallengeBoard.Infrastucture
@using ChallengeBoard.Models
<!-- <ul id="matchNav" data-spy="affix" data-offset-top="100" class="nav nav-pills embedded"> -->
@{
    var competitor = Model.Competitors.Active().FindCompetitorByUserName(User.Identity.Name);
    var alreadyJoined = competitor != null;
    
}
<div class="embedded">
    <div class="pull-left">
        <ul class="nav nav-pills">
            @Html.MenuLink("Standings", "Standings", "Boards", new { id = Model.BoardId }, null)
            @Html.MenuLink("Information", "Details", "Boards", new { id = Model.BoardId }, null)
            @Html.MenuLink("Match Activity", "List", "Matches", new { boardId = Model.BoardId }, null)
            @Html.MenuLink("Report a Match", "Create", "Matches", new { boardId = Model.BoardId }, null)
            @Html.MenuLink("Discussion", "Index", "Discussion", new { boardId = Model.BoardId }, null)
            @Html.MenuLink("Instructions", "Instructions", "Boards", new { id = Model.BoardId }, null)
        </ul>
    </div>
    <div class="pull-right">
        @if (alreadyJoined)
        {
            <ul class="nav nav-pills pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Options<b class="caret"></b>
                    </a>
                    <ul id="options" class="dropdown-menu pull-right">
                        <li>
                            @Html.ActionLink("Your Profile", "Profile", "Competitors", new {boardId = Model.BoardId, competitorId = competitor.CompetitorId}, null)
                        </li>
                        <li class="divider"></li>
                        @if (Model.Owner.Name.Equals(User.Identity.Name, StringComparison.InvariantCultureIgnoreCase))
                        {
                            <li>
                                @Html.ActionLink("Edit Board", "Edit", "Boards", new {id = Model.BoardId}, null)
                            </li>
                            <li>
                                @Html.ActionLink("Delete Board", "Delete", "Boards", new {id = Model.BoardId}, null)
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Retire from Board", "Retire", "Boards", new {id = Model.BoardId}, null)
                            </li>
                        }
                    </ul>        
                </li>
            </ul>

        }
        else
        {
            if (Model.Password.IsEmpty())
            {
                using (Html.BeginForm("Join", "Boards", new { id = Model.BoardId }, FormMethod.Post, new { @class = "form-condensed" }))
                {
                    <button type="submit" class="btn btn-primary">Join Board</button>
                }
            }
            else
            {
                <div class="form-condensed">
                    @Html.ActionLink("Join Board", "Join", "Boards", new { id = Model.BoardId }, new { @class = "btn btn-primary pull-right" })
                </div>
            }
        }
    </div>
</div>