@using ChallengeBoard.Infrastucture;
@model ChallengeBoard.ViewModels.MatchesViewModel
<table class="table table-striped table-bordered no-more-tables sortedTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model.Matches, m => m.Winner)
            </th>
            <th class="centered">
                @Html.DisplayNameFor(Model.Matches, m => m.WinnerEstimatedRating)
            </th>
            <th>
                @Html.DisplayNameFor(Model.Matches, m => m.Loser)
            </th>
            <th class="centered">
                @Html.DisplayNameFor(Model.Matches, m => m.LoserEstimatedRating)
            </th>
            <th class="">Match Result
            </th>
            <th class="centered">
                @Html.DisplayNameFor(Model.Matches, m => m.Created)
            </th>
            <th class="centered">
                @if (Model.Matches.Any(m => m.IsResolved))
                {
                    @:Resolved On
                }
                else
                {
                    @:Auto&nbsp;Verifies
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.Matches)
        {
            <tr>
                <td data-title="@Html.DisplayNameFor(Model.Matches, m => m.Winner)">
                    <span class="label label-success eloChange">
                        @if(match.WinnerRatingDelta >= 0){@Html.Raw("+")}@Html.DisplayFor(modelItem => match.WinnerRatingDelta)
                    </span>
                    - 
                    @Html.ActionLink(match.Winner.Name, "Profile", "Competitors", new { boardId = match.Board.BoardId, competitorId = match.Winner.CompetitorId }, null)
                    @if (!String.IsNullOrWhiteSpace(match.WinnerComment))
                    {
                        <a href="#" rel="popover" data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" data-original-title="@Html.DisplayFor(modelItem => match.Winner.Name)'s comments..." data-content="@Html.DisplayFor(modelItem => match.WinnerComment)">
                            <i class="icon-comment icon-grey"></i>
                        </a>
                    }
                </td>
                <td class="centered" data-title="@Html.DisplayNameFor(Model.Matches, m => m.WinnerEstimatedRating)">
                    @if (match.WinnerEstimatedRating == 0)
                    {
                        @:N/A
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => match.WinnerEstimatedRating)
                    }
                </td>
                <td data-title="@Html.DisplayNameFor(Model.Matches, m => m.Loser)"> 
                    <span class="label label-info eloChange">
                        @if(match.LoserRatingDelta >= 0){@Html.Raw("+")}@Html.DisplayFor(modelItem => match.LoserRatingDelta)
                    </span>
                    - 
                    @Html.ActionLink(match.Loser.Name, "Profile", "Competitors", new { boardId = match.Board.BoardId, competitorId = match.Loser.CompetitorId }, null)
                    @if (match.ManuallyVerified.HasValue)
                    {
                        @: <a href="#" rel="tooltip" data-toggle="tooltip" title="Verified by @match.Loser.Name"><i class="icon-star icon-grey"></i></a>
                    }
                </td>
                <td class="centered" data-title="@Html.DisplayNameFor(Model.Matches, m => m.LoserEstimatedRating)">
                    @if (match.LoserEstimatedRating == 0)
                    {
                        @:N/A
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => match.LoserEstimatedRating)
                    }
                </td>
                <td data-title="Result">
                    @if (match.Rejected)
                    {
                        <span class="label label-important">
                            Match rejected.
                        </span>
                    }
                    else if (match.Withdrawn)
                    {
                        <span class="label label-info">
                            Match withdrawn.
                        </span>
                    }
                    else if (match.Tied)
                    {
                        @: Tie match.
                    }
                    else
                    {
                        @: Reporter wins.
                    }
                </td>
                <td class="centered" data-title="@Html.DisplayNameFor(Model.Matches, m => m.Created)">
                    @Html.DisplayFor(modelItem => match.Created)
                </td>
            
                @if (match.IsResolved)
                {
                    <td class="centered" data-title="Resolved">
                        @if (match.Resolved.HasValue)
                        {
                            @Html.DisplayFor(modelItem => match.Resolved)
                        }
                    </td>
                }       
                else
                {
                    <td class="commands" data-title="Auto Verifies">
                        @{
                            var diff = match.VerificationDeadline.Subtract(DateTime.Now);
                            var remaining = "moments";

                            if (diff.TotalHours >= 1)
                            {
                                remaining = Math.Round(diff.TotalHours,0) + "hr";
                            }
                            else if (diff.Minutes >= 1)
                            {
                                remaining = diff.Minutes + "min";
                            }
                        }
                        @if (Model.Viewer != null &&
                                (match.Loser.ProfileUserId.Equals(Model.Viewer.ProfileUserId) || // Loser able to finalize
                                 match.Winner.ProfileUserId.Equals(Model.Viewer.ProfileUserId) || // Winner able to withdraw
                                 match.Board.Owner.ProfileUserId.Equals(Model.Viewer.ProfileUserId) // Board owner able to finalize
                                )
                            )
                        {
                            var action = match.Winner.ProfileUserId.Equals(Model.Viewer.ProfileUserId) ? "Withdraw" : "Finalize";
                            
                        <ul class="nav nav-pills">
                                <li>
                                    @Html.ActionLink(remaining, "Validate", new { id = match.Board.BoardId, matchId = match.MatchId },
                                                     new
                                                     {
                                                         @class = "validate", title = action + " Match", 
                                                         data_winner = match.Winner.Name, 
                                                         data_winnerRatingDelta = match.WinnerRatingDelta,
                                                         data_loser = match.Loser.Name, 
                                                         data_loserRatingDelta = match.LoserRatingDelta,
                                                         data_matchId = match.MatchId, 
                                                         data_boardId = match.Board.BoardId,
                                                         data_action = match.Winner.ProfileUserId.Equals(Model.Viewer.ProfileUserId) ? "Withdraw" : "Finalize"
                                                     })
                                </li>
                            </ul>
                        }
                        else
                        {
                            @remaining
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>