@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@Html.Partial("_HeaderPartial", new ChallengeBoard.Infrastucture.PageHeader("Ohhhhh boy. "))
<p>
    We've got problems somewhere.  You  can give it another shot, or better yet, tell us what went wrong!
</p>
<p>
    @Model.Exception.Message;
</p>
<p>
    @Model.Exception.InnerException;
</p>
<p>
    @Model.Exception.StackTrace;
</p>
<p>
    @Html.ActionLink("Back Home", "Index", "Home")
</p>
