@model ChallengeBoard.Email.Models.MatchNotification
<!DOCTYPE html>

<html>
<head>
    <title>The Challenge Board: Match Notiication</title>
    <style>
        p { margin-bottom: 20px;}
    </style>
</head>
<body>
    <p>
        Hello @Model.LoserName,
    </p>
    <p>
        We're dropping you a line to let you know that <strong>@Model.WinnerName</strong> has reported a match with you on the 
        <strong>@Model.BoardName</strong> challenge board.  If this is accurate, you may want to approve the match so that the result 
        is made official as soon as possible.  If this is in err, you will want to reject the match so that it will not count.  
        You have <strong>@Model.AutoVerifies</strong> hour(s) to reject or verify this match before it automatically becomes official.
    </p>
    @if (!String.IsNullOrWhiteSpace(@Model.WinnerComment))
    {
    <p>
        <b>@Model.WinnerName had the following comment:</b><br />
        @Model.WinnerComment
    </p>
    }
    <p>
        Thanks,<br/>
        The Challenge Board
    </p>
</body>
</html>