@using System.Text
@using NGravatar.Html
@model IEnumerable<ChallengeBoard.Models.Competitor>
@{
    var rank = 1;
}
<table class="table table-striped no-more-tables">
    <thead>
        <tr>
            <td class="centered">Rank</td>
            <th></th>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th class="centered">@Html.DisplayNameFor(m => m.GamesPlayed)</th>
            <th class="centered">@Html.DisplayNameFor(m => m.Wins)</th>
            <th class="centered">@Html.DisplayNameFor(m => m.Loses)</th>
            <th class="centered">@Html.DisplayNameFor(m => m.Ties)</th>
            <th class="centered">@Html.DisplayNameFor(m => m.Streak)</th>
            <th class="centered">@Html.DisplayNameFor(m => m.WinPercentage)</th>
            <th class="centered">@Html.DisplayNameFor(m => m.Rating)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var competitor in Model.OrderByDescending(x => x.Rating)
                                         .Where(competitor => competitor.Status == ChallengeBoard.Models.CompetitorStatus.Active))
        {
            <tr>
                <td data-title="Rank" class="centered">@rank</td>
                <td data-title="Avatar" style="width: 20px;">
                    @Html.Gravatar(competitor.Profile.EmailAddress, 20, null, NGravatar.Rating.PG, null)
                </td>
                <td data-title="@Html.DisplayNameFor(m => m.Name)">@competitor.Name</td>
                <td data-title="@Html.DisplayNameFor(m => m.GamesPlayed)" class="centered">@competitor.GamesPlayed</td>
                <td data-title="@Html.DisplayNameFor(m => m.Wins)" class="centered">@competitor.Wins</td>
                <td data-title="@Html.DisplayNameFor(m => m.Loses)" class="centered">@competitor.Loses</td>
                <td data-title="@Html.DisplayNameFor(m => m.Ties)" class="centered">@competitor.Ties</td>
                <td data-title="@Html.DisplayNameFor(m => m.Streak)" class="centered">@competitor.Streak</td>
                <td data-title="@Html.DisplayNameFor(m => m.WinPercentage)" class="centered">@competitor.WinPercentage</td>
                <td data-title="@Html.DisplayNameFor(m => m.Rating)" class="centered">@competitor.Rating</td>
            </tr>
            
            rank++;
        }
    </tbody>
</table>

@functions{

    public HtmlString MatchResult(string player, bool tie)
    {
        var sb = new StringBuilder();

        return (new HtmlString(sb.ToString()));
    }

}