@using ChallengeBoard.Infrastucture;
@model ChallengeBoard.ViewModels.BoardListViewModel

@{
    ViewBag.Title = "Active Challenge Boards";
}
@Html.Partial("_HeaderPartial", new PageHeader(ViewBag.Title))
<div class="well">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    @Html.ActionLink("Create New", "Create")
    <hr />
    <div class="centered-text">
        <div class="input-prepend">
            <span class="add-on">
                <i class="icon-search"></i>
            </span>
            @Html.TextBox("Search", null, new { @class="span6", placeholder="Search...", data_bind = "value: search, valueUpdate: 'afterkeydown'" });
        </div>
    </div>
</div>
@if (Model.Boards.Any())
{   
    <table class="table table-striped no-more-tables" data-bind="visible: boards().length &gt; 0">
        <thead>
            <tr>
                <th class="span3">
                    @Html.DisplayNameFor(Model.Boards, m => m.Name)
                </th>
                <th class="centered span2">
                    Organizer
                </th>
                <th class="centered span2">
                    @Html.DisplayNameFor(Model.Boards, m => m.Created)
                </th>
                <th class="centered span2">
                    @Html.DisplayNameFor(Model.Boards, m => m.End)
                </th>
                <th class="centered span2">
                    Progress
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: boards">
            <tr>
                <td data-title="@Html.DisplayNameFor(Model.Boards, m => m.Name)">
                    <a href="#" data-bind="text: Name, attr: { href: 'Boards/Standings/' + BoardId }"></a>
                </td>
                <td  class="centered" data-title="Owner" data-bind="text: Owner.Name"></td>
                <td class="centered" data-title="@Html.DisplayNameFor(Model.Boards, m => m.Created)" data-bind="text: Created"></td>
                <td class="centered" data-title="@Html.DisplayNameFor(Model.Boards, m => m.End)" data-bind="text: End"></td>
                <td data-title="@Html.DisplayNameFor(Model.Boards, m => m.PercentComplete)">
                    <div class="progress">
                        <div class="bar" data-bind="attr: {style: 'width:' + PercentComplete + '%'  }"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="well" data-bind="visible: boards().length == 0" style="display:none;">
        No challenge boards match your search terms.  Why don't you @Html.ActionLink("create", "Create") the fist one?
    </div>
}
else
{
    <div class="well">
        No challenge boards have been created yet.  Why don't you @Html.ActionLink("create", "Create") the fist one?
    </div>
}
@{var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();}
@section Scripts {
    
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript">
        $(function() {
            var boardsModel = new window.BoardListModel(@Html.Raw(serializer.Serialize(Model.Boards)));
            ko.applyBindings(boardsModel);
        });
    </script>
}