@using ChallengeBoard.Infrastucture;
@model ChallengeBoard.ViewModels.BoardListViewModel

@{
    ViewBag.Title = "Active Challenge Boards";
}
@Html.Partial("_HeaderPartial", new PageHeader(ViewBag.Title))
<div class="well">
    Challenge boards are a fun and unique way to have some friendly competition amoung friends.  You can search for a challenge 
    board if you're looking for something specific.  If you're thinking about starting up something yourself, you may want to 
    @Html.ActionLink("create a new challenge board", "Create") and recruit some friends!
    <hr />
    <div class="centered-text controls">
        <div class="input-prepend">
            <span class="add-on">
                <i class="icon-search"></i>
            </span>
            @Html.TextBox("Search", null, new { @class="span8", placeholder="Search...", data_bind = "value: search, valueUpdate: 'afterkeydown'" });
        </div>
    </div>
</div>
@if (Model.Boards.Any())
{   
    <table class="table table-striped no-more-tables" data-bind="visible: boards().length &gt; 0">
        <thead>
            <tr>
                <th class="span3">
                    @Html.DisplayNameFor(Model.Boards, m => m.Name)
                </th>
                <th class="centered span2">
                    Organizer
                </th>
                <th class="centered span2">
                    @Html.DisplayNameFor(Model.Boards, m => m.Created)
                </th>
                <th class="centered span2">
                    @Html.DisplayNameFor(Model.Boards, m => m.End)
                </th>
                <th class="centered span2">
                    Progress
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: boards">
            <tr>
                <td data-title="@Html.DisplayNameFor(Model.Boards, m => m.Name)">
                    <a href="#" data-bind="text: Name, attr: { href: 'Boards/Standings/' + BoardId }"></a>
                </td>
                <td  class="centered" data-title="Owner" data-bind="text: Owner.Name"></td>
                <td class="centered" data-title="@Html.DisplayNameFor(Model.Boards, m => m.Created)" data-bind="text: Created"></td>
                <td class="centered" data-title="@Html.DisplayNameFor(Model.Boards, m => m.End)" data-bind="text: End"></td>
                <td data-title="@Html.DisplayNameFor(Model.Boards, m => m.PercentComplete)">
                    <div class="progress">
                        <div class="bar" data-bind="attr: {style: 'width:' + PercentComplete + '%'  }"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="well" data-bind="visible: boards().length == 0" style="display:none;">
        No challenge boards match your search terms.  Why don't you @Html.ActionLink("create", "Create") the fist one?
    </div>
}
else
{
    <div class="well">
        No challenge boards have been created yet.  Why don't you @Html.ActionLink("create", "Create") the fist one?
    </div>
}
@{var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();}
@section Scripts {
    
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript">
        $(function () {
            var boardsModel = new window.BoardListModel(@Html.Raw(serializer.Serialize(Model.Boards)));
            ko.applyBindings(boardsModel);
        });
    </script>
}