@model ChallengeBoard.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account", null, FormMethod.Post, new { @class = "well centered" })) {
    @Html.AntiForgeryToken()
    @Html.Partial("_ValidationSummary", ViewData.ModelState)
    <fieldset>
        <legend>Change Password</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.OldPassword)
            <div class="controls">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.NewPassword)
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Change password</button>
        </div>
    </fieldset>
}
