@model ChallengeBoard.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@Html.Partial("_HeaderPartial", new ChallengeBoard.Infrastucture.PageHeader("Create a new account"))
@Html.Partial("_ValidationSummary", ViewData.ModelState)
<div class="row">
    <div class="span6">
        <section id="loginForm">
            @using (Html.BeginForm("Register", "Account", null, FormMethod.Post, new { @class = "well centered" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Create a site account</legend>
                    <div class="control-group">
                        @Html.LabelFor(m => m.UserName)
                        <div class="controls">
                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.EmailAddress)
                        <div class="controls">
                            @Html.TextBoxFor(m => m.EmailAddress)
                            @Html.ValidationMessageFor(m => m.EmailAddress)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Password)
                        <div class="controls">
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        <div class="controls">
                            @Html.PasswordFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </fieldset>
            }
        </section>
    </div>
    <div class="span6">
        <section id="socialLoginForm">
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
