@model ChallengeBoard.Models.LocalPasswordModel

@{
    ViewBag.Title = "Password Recovery";
}

@Html.Partial("_HeaderPartial", new ChallengeBoard.Infrastucture.PageHeader("Password Reset"))
@using (Html.BeginForm("RequestReset", "Account", null, FormMethod.Post, new { @class = "well form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ValidationSummary", ViewData.ModelState)
    <fieldset>
        <legend>Fill out the information below to reset your password</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                @Html.Hidden("token",Request["token"])
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Reset password</button>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}