@using ChallengeBoard.ViewModels
@using NGravatar.Html
@model ProfileViewModel

@{
    ViewBag.Title = "Profile";
}
@Html.Partial("_HeaderPartial", new ChallengeBoard.Infrastucture.PageHeader(Model.Competitor.Name, "Profile"))
@Html.Partial("_BoardNav", Model.Board)
<div class="row">
    <section >
        <div class="span5">
            <div class="well hide-overflow">
                <div id="profileAvatar">
                    @Html.Gravatar(Model.Competitor.Profile.EmailAddress, 155, null, NGravatar.Rating.PG, null)
                    <div id="profileRating">@Html.DisplayFor(m => m.Competitor.Rating)</div>
                    <div><small>@Html.DisplayNameFor(m => m.Competitor.Rating)</small></div>
                </div>
                <div class="span2">
                    <table class="table">
                        <tr>
                            <td>@Html.DisplayNameFor(m => m.Competitor.MatchesPlayed):</td>
                            <td>@Html.DisplayFor(m => m.Competitor.MatchesPlayed)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(m => m.Competitor.Wins):</td>
                            <td>@Html.DisplayFor(m => m.Competitor.Wins)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(m => m.Competitor.Loses):</td>
                            <td>@Html.DisplayFor(m => m.Competitor.Loses)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(m => m.Competitor.Ties):</td>
                            <td>@Html.DisplayFor(m => m.Competitor.Ties)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(m => m.Competitor.Streak):</td>
                            <td>@Html.DisplayFor(m => m.Competitor.Streak)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(m => m.Competitor.WinPercentage):</td>
                            <td>@Html.DisplayFor(m => m.Competitor.WinPercentage)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="span7">
        <section>
            Comming Soon!  Bio's
        </section>
    </div>
</div>
<h2>Matches</h2>
<div id="matchContainer">
@if (Model.Matches.Any())
{
    @Html.Partial("_MatchesPartial", new MatchesViewModel { Matches = Model.Matches })
}
else
{
    <div class="well">
        @Html.DisplayFor(m => m.Competitor.Name) has not participated in any matches yet.
    </div>
}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/components")
}